body {
    background-color: #000;
}

#search-field {
    padding-top: 500px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#user-input {
    background-color: #FFF;
    border-radius: 5px;
}

#search-field button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666;
    padding: 0 6px 0 10px;
}

#content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
}
.results:nth-of-type(1) {
    margin-top: 25px;
}
.results {
    background-color: grey;
    width: 50%;
    margin-bottom: 25px;
}

.results .title {
    float: left;
    padding-left: 40px;
}

.results .extract {
    padding: 40px 40px 40px 40px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color:white;
    text-decoration: none;
}


/** buttons **/

button:focus {
    outline: 0;
}

.glyphicon-search {
    font-size: 32px;
}

.fi-die-four {
    font-size: 34px;
}